.color-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.color-item {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 6rem 1rem 1rem 1rem;
}